.container-quiz {
}

.header {
  background: whitesmoke;
  width: 100%;
  height: 90px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: -2px 1px 15px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 1px 15px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 1px 15px 2px rgba(0, 0, 0, 0.75);

  h1 {
    margin: auto;
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .timer {
    font-size: 3rem;
    font-weight: 700;
    top: 0px;
    right: 60px;
    position: absolute;
  }

  .button {
    height: 40px;
    width: 100px;
    position: absolute;
    top: 40px;
    right: 60px;
    border-radius: 5px;
    background-color: aquamarine;
  }
}

.body {
  width: 70%;
  margin: 90px 15% 100px 15%;
  text-align: center;
  border: 2px solid black;

  .quiz-form {
    text-align: left;
    .form {
      margin: 0px 100px 20px 100px;
      // border: 1px solid red;

      .answer {
        margin-left: 20px;
        margin-bottom: 7px;
      }
    }
  }

  .button {
    height: 40px;
    width: 100px;
    top: 40px;
    right: 60px;
    border-radius: 5px;
    background-color: aquamarine;
  }
}

.footer {
  width: 100%;
  height: 100px;
  position: static;
  bottom: 0;
  left: 0;
}
